<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Academic Paper Search</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Academic Paper Search</h1>
    <form method="POST">
        <label for="query">Search Query:</label>
        <input type="text" name="query" id="query" required>
        <br>
        <label for="algorithm">Retrieval Algorithm:</label>
        <select name="algorithm" id="algorithm">
            <option value="boolean">Boolean Retrieval</option>
            <option value="vsm">Vector Space Model</option>
            <option value="okapiBM25">Okapi BM25</option>
        </select>
        <br>
        <label for="filter_criteria">Filter Criteria (optional):</label>
        <select name="filter_criteria" id="filter_criteria">
            <option value="none">None</option>
            <option value="Authors">Author</option>
            <option value="Submitted Date">Submission Date</option>
            <option value="Subjects">Subject</option>
            <option value="Subject_Tags">Subject Tag</option>
            <option value="Title">Title</option>
        </select>
        <br>
        <input type="submit" value="Search">
    </form>

    {% if no_results %}
        <p>No results found.</p>
    {% elif papers %}
        <h2>Search Results for "{{ query }}"</h2>
        <ul>
            {% for paper in papers %}
                <li>
                    <strong>Title:</strong> {{ paper['Title'] }}<br>
                    <strong>Authors:</strong> {{ paper['Authors'] }}<br>
                    <strong>Subjects:</strong> {{ paper['Subjects'] }}<br>
                    <strong>Subject Tags:</strong> {{ paper['Subject_Tags'] }}<br>
                    <strong>Submitted Date:</strong> {{ paper['Submitted Date'] }}<br>
                    <strong>Abstract:</strong> {{ paper['Abstract'] }}<br>
                    <strong>PDF Link:</strong> <a href="{{ paper['PDF Link'] }}" target="_blank">{{ paper['PDF Link'] }}</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if error_message %}
        <p>{{ error_message }}</p>
    {% endif %}
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>
